#-----------------------------------#
# Application
#-----------------------------------#
APP_VERSION=0.1.0
PROJECT_NAME=WDL Core API
PROJECT_DESC=API системы визуализации связей баз данных
DEBUG=False
API_EXPOSE_PORT=8001

CORS_DISABLE=True
CORS_REGEX=https://.*\.wdl\.ru
PROD_SERVER_URL=


#-----------------------------------#
# PostgreSQL
#-----------------------------------#
POSTGRES_SERVER=localhost
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_DB=<postgres-database>
POSTGRES_PORT=5433
POSTGRES_DOCKER_SERVER=postgres
POSTGRES_DOCKER_PORT=5432
POSTGRES_EXPOSE_PORT=5433
SQLALCHEMY_ECHO=False
